.player-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #282c34;
  border-radius: 30px;
  color: #ffffff;
  width: 350px;
  margin: 20px auto;
  padding-top: 10px; 
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
  rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
  rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.black-screen-part {
  background-color: black;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.screen-information{
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 5px;
  min-height: 200px;
  height: 280px;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
}

button {
  padding: 5px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  border-radius: 10px;
  color: #ffffff;
  max-width: fit-content;
}

p {
  margin: 10px 0;
}

.nav-link {
  color: #61dafb;
  text-decoration: none;
  margin-top: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}

.button-style {
  width: 30px;
  margin: 10px;
  height: 30px;
  background-color: transparent;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.button-style:hover {
  transform: scale(1.1);
}

.button-style i {
  font-size: 30px;
  display: inline-block;
  transform: perspective(100px) rotateY(20deg);
  transition: transform 0.3s;
}

.button-style:hover i {
  transform: perspective(100px) rotateY(20deg) scale(1.1);
  color: #2d41f5;
}

i {
  color: #61dafb;
}

.player {
  border-radius: 10%;
  transition: all 0.5s ease-in-out;
}

.player > * {
  display: none;
}

.title-from-current-music {
  /* word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px; */
  
  box-shadow: inset 0 2px 70px rgba(5, 5, 5, 1) ;
  border-left: black 20px solid;
  border-right: black 20px solid;
  border-radius: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
}

.nav-link {
  display: flex;
  justify-content: space-evenly;
}

.nav-link > a:first-child > button:first-child {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.nav-link > a > button:hover,
form > button:hover,
.add-new-song > button:hover,
dialog > div > div > button:hover,
dialog > div > button:hover,
dialog > div > form > fieldset > button:hover, .add-new-song>div>button:hover, .choose-options:hover {
  background-color: #3b4049;
  color: #e0e0e0;
  transform: scale(1.05);
  cursor: pointer;
}

.nav-link > a > button:active,
form > button:active,
.add-new-song > button:active,
dialog > div > div > button:active,
dialog > div > button:active,
dialog > div > form > fieldset > button:active, .add-new-song>div>button:active, .choose-options:active {
  background-color: #1f2329;
  transform: scale(0.98);
}

dialog > form > input {
  border-radius: 10px;
}

.player {
 display: none;
  transition: all 0.5s ease-in-out;
}
.button-style {
  padding: 0;
  margin: 0;
}
.test {
  width: 270px;
  gap: 10px;
  font-size: 10px;
}

.stop-loop{
  display: flex;
  gap: 60px;
  position: relative;
  top: 80px;
  margin-top: -90px;
}

.home-window{
  a{
    color: #FAFAFA;
    padding: 10px 15px;
    border-bottom: 1px white solid;
    border-left: none;
    border-right: none;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover{
     box-shadow: inset 0 0 10px 4px rgba(255, 255, 0, 0.6);
    transform: translateY(-2px);
    cursor: pointer; 
    }
  }
}