.playlist-changer{
    display: flex;
    flex-direction: column;
}

.playlist-changer>button{
    width: max-content;
    height: max-content;
}

dialog {
    z-index: 999999;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  