.playlist-changer{
    display: flex;
    flex-direction: column;
}

.playlist-changer>button{
    width: max-content;
    height: max-content;
}

dialog {
    z-index: 999999;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #282c34;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    border: none;
}