.music-component-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-new-song>button:first-child{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.add-new-song>input{
    border-radius: 10px;
}

.add-new-song>div{
    display: flex;
    justify-content: center;
    gap: 0.1px;
}

.add-new-song>div>button:first-child{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-style{
    background-color: #282c34;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;

    legend{
        margin-bottom: 10px;
    }
}

@media (max-width:750px){
    .music-component-div{
        width: 100%;
        margin: 0 auto;
    }
}