.music-component-div{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 240px;
}

.add-new-song>button:first-child{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.add-new-song>input{
    border-radius: 10px;
}

.add-new-song>div{
    display: flex;
    justify-content: center;
    gap: 0.1px;
}

.add-new-song>div>button:first-child{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.form-style{
   
    legend{
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
    }
}
/* 
@media (max-width:750px){
    .music-component-div{
        width: 100%;
        margin: 0 auto;
    }
} */


.show-class{
    display: block;
}