.volume-bar{
    display: flex;
    justify-content: start;
    border: 2px black solid;
    width: 100px;
    height: 15px;
    border-radius: 8px;
}

.green{
    height: 15px;
    background-color: rgb(45, 206, 45);
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}