.settings-box{
    display: flex;
    align-items: center;
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: fit-content;
}

.timeline{
    display: flex;
    align-items: center;
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: fit-content;
    margin: 20px auto; 
}

@media (max-width:750px){
    .settings-box{
        padding: 0;
    }

    .settings-box:last-child{
         padding-right: 15px;
    }
}