.not-used-playlists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-in-use{
    display: flex;
    justify-content: center;
}

.default-table>tr>th{
    width: 100px;
}

.default-table>tr>tb{
    width: 100px;
    height: max-content;
}

.current-list{
    background-color: aqua;
    border: 2px black solid;
    width: fit-content;
}

.list-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.music-options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.show-hidden-text{
    position: relative;
}

.hidden-text{
    display: none;
    position: absolute;
    top: -10px;
    background-color: #282c34;
    padding: 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100%;
    overflow-wrap: break-word; 
}

.show-hidden-text:hover .hidden-text{
    display: block;
}

@media (max-width:900px){
    .list-options{
        width: 100%;
    }
}