.default-table>tr>th{
    width: 100px;
}

.default-table>tr>tb{
    width: 100px;
    height: max-content;
}

.current-list{
    background-color: aqua;
    border: 2px black solid;
}

.list-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    width: 80%;
}

.music-options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width:900px){
    .list-options{
        width: 100%;
    }
}