@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");

h3 {
  font-family: "Concert One", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "EDPT" 100, "EHLT" 12;
}

* {
  font-family: "Playpen Sans", "Arial";
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hover-text {
  background-color: rgba(75, 31, 31, 0.8);
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  position: absolute;
  display: none;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 10;
}

.muted-volume {
  position: relative;
  top: 235px;
}

.show-text {
  display: block;
}

.text-container {
  height: 100px;
  width: 100px;
  background-color: #282c34;
  box-shadow:  
  0 6px 8px rgba(0, 0, 0, 0.4),  
  inset 0 0px 6px 6px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  &:active{
    box-shadow:  
    inset 0px 0px 20px rgba(0, 0, 0, 0.6) ; 
  }
}

button {
  padding: 5px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  outline: none;
  background-color: #282c34;
  color: #ffffff;
  transition: background-color 0.3s, transform 0.2s;
}

input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
